@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Since I recently purchased a motorclycle I decided to make a database of morotcycles that i'd be
       interested in riding. Please click on list in the navagation bar to get started.
     <p></p>   
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
